<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Quake3Arena" Publisher="CN=Peter" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Quake 3: Arena</DisplayName>
    <PublisherDisplayName>Pete Lewis</PublisherDisplayName>
    <Logo>Win8\Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Quake3Arena.App">
      <m2:VisualElements DisplayName="Quake 3: Arena" Description="Quake 3: Arena" BackgroundColor="#464646" ForegroundText="light" ToastCapable="false" Square150x150Logo="Win8\Assets\Logo.png" Square30x30Logo="Win8\Assets\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="default" />
        <m2:SplashScreen Image="Win8\Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>