<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Quake3Arena" Publisher="CN=pelewis" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Quake 3: Arena</DisplayName>
    <PublisherDisplayName>Pete Lewis</PublisherDisplayName>
    <Logo>Win8\Assets\logo310.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Quake3Arena.App">
      <VisualElements 
          DisplayName="Quake 3: Arena" 
          Logo="Win8\Assets\logo150.png" 
          SmallLogo="Win8\Assets\logo30.png" 
          Description="Quake 3: Arena" 
          ForegroundText="light" 
          BackgroundColor="#000000" 
          ToastCapable="false">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Win8\Assets\logo300wide.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>